
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}
.card img {
  height: 300px;
  border-radius: 20px;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.card__content {
  text-align: center;
  padding: 10px;
}

p {
  color: hsl(220, 15%, 55%);
}
h3 {
  font-size: 22px;
}
